.python {
  display: none;
  width: 50%;
}

.javaScript {
  display: none;
  width: 50%;
}

.ruby {
  display: none;
  width: 50%;
}

.answerPic {
  max-width: 25%;
}

.emphasis {
  text-decoration: underline;
  font-weight: bold;
}

.vibe {
  text-decoration: wavy;
  color:blueviolet;
  font-family: fantasy;
}

form {
  margin: 40px;
}